body{
    margin: 0;
    padding: 0;
}

.canvas{
    background-color: black;
    height: 510px;
    width: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.toaster{
    background-color: red;
    height: 90px;
    width: 120px;
    position: relative;
    top: 210px;
    left: 125px;
    border-radius: 20px 25px 0 0;
}

.cover{
   background-color: #f71616; 
   height: 90px;
   width: 120px;
   border-radius: 20px 25px 0 0;
   position: relative;
}