body{
    margin: 0;
    padding: 0;
}

.canvas{
    background-color: black;
    height: 510px;
    width: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.toaster{
    background-color: rgb(252, 3, 3);
    height: 90px;
    width: 120px;
    position: relative;
    top: 210px;
    left: 125px;
    border-radius: 20px 25px 0 0;
}

.cover{
   background-color: #fa3c3cfd; 
   height: 90px;
   width: 120px;
   border-radius: 20px 25px 0 0;
   position: relative;
   right: 30px;
}

.b1,.b2{
    background-color: #f70404;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
}

.b1{
    top: 20px;
    left: 50px;
}

.b2{
    top: 25px;
    left: 50px;
}

.b3{
    background-color: #f11313;
    height: 16px;
    width: 16px;
    position: relative;
    top: 30px;
    left: 46.5px;
    border-radius: 50%;
    border: 2px solid white;
}